doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/citySelector.css')
    script(src='/javascripts/citySelector.js')
    script(src='/javascripts/webapp.js')
  body
    block content
